<html>
  <body>
    <table>
     <tr>
       <td> <h2>회원가입</h2></td></tr>
     <tr>
    <form name="register" action="/register" method="POST">
      <td>아이디</td><td><input type="text" name="user_id"></td></tr>
     <tr>
       <td>비밀번호</td><td><input type="password" name="user_pw"></td></tr>
     <tr>
       <td>이메일</td><td><input type="email" name="user_em"></td></tr>
     <tr>
       <td>닉네임</td><td><input type="text" name="nname"></td></tr>
     <tr>
       <td>폰번호</td><td><input type="number" name="pnum"></td></tr>
     <tr>
       <td><input type="submit" value="회원가입"></td>
      </tr>
    </body>
    </html>
